ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin: 0 15px 0 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  background: magenta;
}
.add_form input {
  width: 150px;
}
.add_form {
  text-align: left;
  border: 1px solid black;
  width: 170px;
  padding: 5px 5px 15px 10px;

}
input {
  border: 1px solid black;
}
table, td, th {
     border: 1px solid black;
     border-collapse: collapse;
 }
 table {
   margin-top: 30px;
 }
 td, th {
   width: 100px;
 }
.search_form {
  margin-top: 25px;
}
button {
  margin:0 0 0 24px;
}
.add_form input[type="submit"] {
  margin-top: 10px;
}
html {
  background: #5EC4CD;
}
